/.idea
.idea
.tmp_nwkfile
/venv
sir
rand.c
a.out
.DS_Store
outputs.txt
input.txt
output.txt
.DS_Store
outputs.txt
input.txt
/output
./output
output*
*.py
sir.py
sir_deep_directory.py
sir_printpay
log
.ipynb_checkpoints
.mypy_cache
jupyter
*.html
report
<
h
testConvergence
