/.idea
.idea
.tmp_nwkfile
/venv
sir
rand.c
a.out
.DS_Store
outputs.txt
input.txt
output.txt
.DS_Store
outputs.txt
input.txt
/output
./output
output*
sir.py
sir_deep_directory.py
.ipynb_checkpoints
.mypy_cache
log
output
output_mutation=0.1